/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}



#map {
    height: 400px;
    width: 100%;
}

.mainColour{
    background-color:  #424642;
}

.boundryColour{
    background-color: rgb(98, 100, 98);
}


.text-Colour{
    color: 	rgb(0, 0, 0);
}

#roommates{
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
    width: 100%;
}

div#roommates>div.Roommate{
    color: 	rgb(0, 0, 0);
    border: rgb(0, 0, 0);
    border-style: solid;
    border-block: "true";
    background-color: grey;
    margin: 5px;
    display: block;
    width: 100%;
}


h1.title{
    color: 	rgb(36, 0, 194);
    margin:0 auto;
    float:right;
}

.closeButton{
    width: 5pc;
    border: black;
    border-style: solid;
    color: black;
    float: right;
    margin: 1pc;
}

#ErrorPopUpMessage{
    padding: 0.2pc;
}

#ErrorPopUp{
    background-color: red;
    color: black;
    border: white;
    border-style: solid;
    text-align: center;
    position: relative;
    border:2px solid blue;
    width:90%;
    top: 50px;
    box-sizing: border-box;
    margin:0 auto;
    visibility: hidden;
}



.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  